
body {
	padding: 0;   
	margin: 0;
	background:rgb(255, 255, 255);
	max-width:2000px;
	margin-left:auto;
	margin-right:auto;
	}


.bar_tabs{
	width:100wv;
	max-width:2000px;
	height:50px;
	z-index:2;
	top:0;
	margin-top:0;
	display:flex;
	background:transparent;
}
.list_tabs {
	display:flex;
	height:100%;
	margin-top:20px;
	margin-bottom:auto;
	margin-right:5%;
	margin-left:auto;
	justify-content:center;
	list-style-type:none;
	z-index:1;
}

.tab-input {
	line-height:50px;
	border:none;
	font: 0.8em "Courier New", sans-serif;
	margin: auto 20px;
	font-size: 1.5vw;
	cursor: pointer;
	background:none;
	
}
a{
	color: grey;
  	text-decoration: none;  
}




.name{
	margin-left:5%;
	font: 0.8em "Courier New", sans-serif;
	margin-top:auto;
	margin-bottom:auto;
	font-size: 17px;
	color:white;
}




.main-title{
	position:absolute;
	margin-top:40vh;
	width:100%;
	margin-left:14%;
	font: 0.8em "Courier New", sans-serif;
	z-index:1;
	font-size:6vw;
	color:grey;
}
.topic-title{
	font-size:30px;
	margin-left:10%;
	color:grey;
	width:80%;
	margin-top:50px;
	border-bottom:solid 1px grey;
}
.front{
	min-height:60vh;
	width:100%;
}
.front-img{
	position:absolute;
	width:100%;
	height:auto;
	z-index:-1;
	top:-20px;
}
.about{
	margin-top:40px;
	margin-left:auto;
	min-height:200px;
	max-width:45%;
	margin-right:auto;
}
.about-title{
	color:black;
	font-size:40px;
}
.about-container{
	width:95%;
	padding-top:20px;
	padding-bottom:20px;
	margin-top:40px;
	margin-left:auto;
	margin-right:auto;
	background:transparent;
	display:flex;
	flex-wrap:wrap;
}
.about-p{
	max-width:100%;
	padding:10px;
	font-size:25px;
	color:black;
}
.skill-div{
	padding:2px;
	width:100%;
	margin-top:20px;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
	padding-left:10px;
	padding-right:10px;
	
}

.skill-div-div{
	margin-left:auto;
	margin-right:auto;
	width:80%;
	display:flex;
	flex-wrap:wrap;
}
.skills{
	display:flex;
	flex-wrap:wrap;
}
.skill{
	margin:auto 10px;
	margin-top:10px;
	margin-bottom:10px;
	text-align:center;
	font-size:16px;
	color:black;
}

.skill-title{
	color:black;
	font-size:40px;
}



.square-yes{
	margin-left: auto;
	margin-right:auto;
	margin-bottom:3px;
	width:6px;
	height:6px;
	size:200%;
	color:orange;
}
.square-no{
	margin-left: auto;
	margin-right:auto;
	margin-bottom:3px;
	size:200%;
	border-radius:2px;
	color:black;
}
.content {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	width:90%;
	padding-bottom:10px;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
	position:relative;
	border-radius:50px;
	

}
.left-container{
	margin-top:auto;
	margin-bottom:auto;
	padding-top:20px;
	padding-bottom:20px;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	height:650px;
	display:flex;
	justify-content:center;
	overflow:hidden;
	position:relative;
}
.background0{
	position:absolute;
	width:100%;
	height:100%;
	top:-10px;
	background-image:linear-gradient(yellow, green);
}
.background1{
	position:absolute;
	width:100%;
	height:100%;
	top:-10px;
	background-image:linear-gradient(#9c39ff, #8000ff);
}
.background2{
	position:absolute;
	width:100%;
	height:100%;
	top:-10px;
	background-image:linear-gradient(orange, red);
}
.imgPhone{
	max-width:275px;
	height:auto;
}
.imgPhone-container{
	margin-top:14px;
	position:absolute;
	width:275px;
	height:100%;
	text-align:center;
}
.slider-container-plus{
	width:100%;
	display:flex;
	text-align:center;
	justify-content:center;
	height:100%;
}
.slide-container{
	width:255px;
	height:565px;
	border-radius:15px;
	margin-top:18px;
	overflow:hidden;
	background:yellow;
	position:absolute;
	display:flex;
	overflow:hidden;
}
.images-container{
	height:565px;
	margin-left:0;
	width:2000px;
	background:blue;
	position:absolute;
}
.imgSlideShow{
	float:left;
	margin-top:9px;
	padding:0;
	position:relative;
	width:255px;
	height:100%;
}
.buttons{
	position:absolute;
	margin-top:620px;
	display:flex;
	justify-content:center;
}
.button{
	height:8px;
	width:8px;
	display:block;
	border-radius:50%;
	z-index:1;
	padding:0;
	position:relative;
	background-color:transparent;
	border:solid 1px white;
	margin: auto 4px;
}
.selectedButton{
	height:8px;
	width:8px;
	display:block;
	border-radius:50%;
	z-index:1;
	padding:0;
	position:relative;
	background-color:white;
	border:solid 1px white;
	margin: auto 4px;
}
.button-container{
	display:flex;
	justify-content:center;
	width:100%;
	height:100%;
}
.paragraph-div{
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	border-radius:10px;
	padding:10px;
	width:90%;
	height:auto;
}
.work-title{
	color:blue;
}
.work-i{
	color:grey;
	font-size:20px;
}
.work-p{
	flex-shrink:2;
	font-size:24px;
	color:black;
	max-width:800px;
}
.work-li{
	color:black;
}
.content2{
	background:transparent;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	padding-top:20px;
	padding-bottom:20px;
	border-radius:20px;
	margin-top:80px;
	margin-bottom:80px;
}
.work-title2{
	margin-left:20px;
}
.gitlink{
	font-size:19px;
	color:#808080;
	font-family:OCR A Std, monospace;
	
}
.gitlink-box{
	width: fit-content;
	height:fit-content;
	padding:8px;
	margin-top:auto;
	margin-bottom:auto;
	margin-left:20px;
	border:solid 1.5px #808080;
	border-radius:4px;
}
.title-plus-git{
	display:flex;
}
.contact-div{
	background:transparent;
	width:90%;
	padding-top:100px;
	border-radius:20px;
	padding-bottom:100px;
	margin-top:50px;
	margin-bottom:50px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	color:white;
	font-size:3vh;
}
.extra-content{
	background:grey;
	border-radius:30px;
	min-width:200px;
	min-height:200px;
}
.ratings-div{
	background:black;
	width:100%;
	padding-top:50px;
	padding-bottom:50px;
	text-align:center;
}
.rating{
	margin-left:auto;
	margin-right:auto;
	width:400px;
	display:flex;
}
.rating-title{
	margin-left:5%;
	color:white;
	margin-top:auto;
	margin-bottom:auto;
	font-size:20px;
}
.stars{
	display:flex;
	margin-left:auto;
	margin-right:5%;
	margin-bottom:3%;
}
.star-0{
	font-size:300%;
	color:yellow;
}
.star-1{
	font-size:300%;
	color:yellow;
}
.palaute{
	font-size:12px;
}
.part1{
	background:white;
	width:100%;

}
.part2{
	background:white;
	width:100%;

}
.part3{
	width:100%;
	background:black;
	margin-top:-5px;
	text-align:center;
}
.end-div{
	text-align:center;
	padding-bottom:10px;
}
.end{
	color:grey;
}
.topic-title-end{
	color:white;
	font-size:50px;
	margin-top:2px;
}