
body {
	padding: 0;   
	margin: 0;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	overflow:scroll;
	max-width:1200px;
	}

.sticky-elements{
	top:0;	
	position:sticky;
}
.side{
	margin-left:20px;
	top:10px;
	width:270px;	
	margin-right:20px;
	overflow:hidden;
	flex-shrink:0;
}
.side-title{
	font-size:50px;
	font-weight:bold;
}
.side1img{
	max-height:15px;
	margin-right:10px;
	margin-top:auto;
	margin-bottom:auto;
	width:auto;
}
.side2{
	position:absolute;
	width:40px;
	top:30px;
	right:20px;
}
.side2img{
	max-width:100%;
	height:auto;
	margin-bottom:20px;
	border-radius:50px;
}

.side-box{
	margin-top:20px;
	border:1px solid #cfcfcf;
	border-radius:20px;
	padding:10px;
}
.borders{
	width:auto;
	margin-top:-300px;
	margin-right:100px;
	margin-left:320px;
}

.side-thing{
	margin-top:10px;
	border-radius:30px;
	border: 1px solid #bbbbbb;
	font-size:15px;
	font-family:Calibri;
	padding:14px;
	color:black;
	font-weight:bold;
	display:flex;
	align-items:center;
	justify-content:center
}
.side-thing2{
	margin-top:8px;
	border-radius:30px;
	border: 1px solid #bbbbbb;
	padding-bottom:30px;
	font-size:15px;
	font-family:Calibri;
	padding:15px;
	color:#7f7f7f;
	background:#f4f8ff;
	display:flex;
	align-items:center;
	justify-content:center
}

.bar_tabs{
	width:100wv;
	max-width:2000px;
	height:11vh;
	z-index:2;
	top:0;
	margin-top:0;
	display:flex;
	background:transparent;
}
.me{
	display:flex;
	margin-left:5%;
	margin-right:auto;
	margin-top:auto;
	margin-bottom:auto;
	z-index:1;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}



.name{
	font-family: Calibri;
  	font-stretch: ultra-expanded;
	font-size: 1.4vw;
	color:grey;
	margin-top:auto;
	margin-bottom:auto;
	font-weight:bold;
	margin-left:3vw;
}
.list_tabs {
	display:flex;
	margin-bottom:auto;
	margin-right:5%;
	margin-left:auto;
	justify-content:center;
	list-style-type:none;
	z-index:1;
	margin-top:auto;
	margin-bottom:auto;
}

.tab-input {
	line-height:50px;
	border:none;
	font-family: Calibri;
	font-weight:bold;
  	font-stretch: ultra-expanded;
	margin-right:10px;
	font-size: 1.4vw;
	cursor: pointer;
	background:none;
	color:#5a5a67;
}

.tab-number{
	color:grey;
}
a{
	color: grey;
  	text-decoration: none;  
}




.topic-title{
	font-size:30px;
	margin-left:10%;
	color:grey;
	width:80%;
	font-family:Calibri;
	border-bottom:solid 1px grey;
}
.front{
	height: auto;
	width:100%;
	display:flex;
	justify-content:center;
	padding-top:50px;
	padding-bottom:120px;
}
.front-img{
	position:relative;
	width:60%;
	height:auto;
	z-index:2;
	top:20px;
	opacity:1;
	animation: pulse 4s infinite;
}

.about{
	margin-top:20px;
	margin-left:auto;
	min-height:200px;
	min-width:300px;
	max-width:47%;
	margin-right:auto;
}
.about-title{
	color:black;
	font-size:38px;
}
.about-container{
	width:98%;
	margin-left:auto;
	margin-right:auto;
	background:transparent;
	display:flex;
	flex-wrap:wrap;
}
.about-p{
	margin-top:-10px;
	max-width:100%;
	font-size:18px;
	font-family:Calibri;
	color:#747474;
}
.skill-div{
	padding:2px;
	width:100%;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
	padding-left:10px;
	padding-right:10px;	
	margin-top:-10px;
}

.skill-div-div{
	margin-left:auto;
	margin-right:auto;
	width:80%;
	display:flex;
	flex-wrap:wrap;
	padding-bottom:10vh;
}
.skills{
	display:flex;
	flex-wrap:wrap;
}
.skill{
	margin:auto 10px;
	margin-top:10px;
	margin-bottom:10px;
	text-align:center;
	font-size:14px;
	font-family:Calibri;
	color:#808080;
}

.skill-title{
	color:#000000;
	font-size:38px;
}



.square-yes{
	margin-left: auto;
	margin-right:auto;
	margin-bottom:3px;
	width:6px;
	height:6px;
	size:200%;
	color:orange;
}
.square-no{
	margin-left: auto;
	margin-right:auto;
	margin-bottom:3px;
	size:200%;
	border-radius:2px;
	color:black;
}
.content {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	width:100%;
	padding-bottom:10px;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
	position:relative;
	border-radius:50px;
}
.left-container{
	margin-top:auto;
	margin-bottom:auto;
	padding-top:20px;
	padding-bottom:20px;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	height:650px;
	display:flex;
	justify-content:center;
	position:relative;
	
}

.random{
	width:100%;
	height:100%;
	opacity:1;
	
}
.background0{
	position:absolute;
	width:100%;
	height:100%;
	top:-1vh;
	 filter: hue-rotate(120deg);
}
.background1{
	position:absolute;
	width:100%;
	height:100%;
	top:-1vh;
	filter: hue-rotate(200deg);
}
.background2{
	position:absolute;
	width:100%;
	height:100%;
	top:-1vh;
}
.imgPhone{
	max-width:275px;
	height:auto;
}
.imgPhone-container{
	margin-top:14px;
	position:absolute;
	width:275px;
	height:100%;
	text-align:center;
	
}
.slider-container-plus{
	width:100%;
	display:flex;
	text-align:center;
	justify-content:center;
	height:100%;
}
.slide-container{
	width:255px;
	height:565px;
	border-radius:15px;
	margin-top:18px;
	overflow:hidden;
	background:yellow;
	position:absolute;
	display:flex;
	overflow:hidden;
}
.images-container{
	height:565px;
	margin-left:0;
	width:2000px;
	background:blue;
	position:absolute;
}
.imgSlideShow{
	float:left;
	margin-top:9px;
	padding:0;
	position:relative;
	width:255px;
	height:100%;
}
.buttons{
	position:absolute;
	margin-top:620px;
	display:flex;
	justify-content:center;
}
.button{
	height:8px;
	width:8px;
	display:block;
	border-radius:50%;
	z-index:1;
	padding:0;
	position:relative;
	background-color:transparent;
	border:solid 1px white;
	margin: auto 4px;
}
.selectedButton{
	height:8px;
	width:8px;
	display:block;
	border-radius:50%;
	z-index:1;
	padding:0;
	position:relative;
	background-color:white;
	border:solid 1px white;
	margin: auto 4px;
}
.button-container{
	display:flex;
	justify-content:center;
	width:100%;
	height:100%;
}
.paragraph-div{
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	border-radius:10px;
	padding:10px;
	width:100%;
	height:auto;
}
.work-title{
	color:blue;
}
.work-i{
	color:grey;
	font-size:18px;
}
.work-p{
	flex-shrink:2;
	font-size:22px;
	color:black;
	font-family:Calibri;
	max-width:800px;
	font-weight:bold;
}
.work-li{
	font-family:Calibri;
	color:#666666;
	font-size:18px;
	max-width:1000px;
}
.content2{
	background:transparent;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	padding-top:20px;
	padding-bottom:20px;
	border-radius:20px;
	font-family:Calibri;
	margin-top:80px;
	margin-bottom:80px;
}
.work-title2{
	margin-left:20px;
}
.gitlink{
	font-size:19px;
	color:white;
	font-family:OCR A Std, monospace;
}
.gitlink-box{
	width: fit-content;
	height:fit-content;
	padding:8px;
	margin-top:auto;
	margin-bottom:auto;
	margin-left:20px;
	background: #808080;
	border-radius:6px;
	box-shadow: 1px 1px 1px 1px #a3a3a3;
}
.title-plus-git{
	display:flex;
}
.contact-div{
	position:absolute;
	width:30vw;
	top:50vh;
	left:25vw;
	text-align:center;
	font-family:Calibri;
	color:white;
	font-size:3vh;
}
.arrow{
	position:absolute;
	width:30vw;
	height:auto;
	top:5vh;
	left:50vw;
}


.extra-content{
	background:grey;
	border-radius:30px;
	min-width:200px;
	min-height:200px;
}
.ratings-div{
	background:black;
	width:100%;
	padding-top:50px;
	padding-bottom:50px;
	text-align:center;
}
.rating{
	margin-left:auto;
	margin-right:auto;
	width:400px;
	display:flex;
}
.rating-title{
	margin-left:5%;
	color:white;
	margin-top:auto;
	margin-bottom:auto;
	font-size:20px;
}
.stars{
	display:flex;
	margin-left:auto;
	margin-right:5%;
	margin-bottom:3%;
}
.star-0{
	font-size:300%;
	color:yellow;
}
.star-1{
	font-size:300%;
	color:yellow;
}
.palaute{
	font-size:12px;
}
.part1{
	background:white;
	width:100%;
	display:flex;
	flex-wrap:wrap;
}
.part2{
	background:white;
	width:100%;

}
.part3{
	width:100%;
	height:80vh;
	background:black;
	text-align:center;
	position:relative;
}
.end-div{
	margin-bottom:auto;
	margin-top:55vh;
	text-align:center;
}
.end{
	color:grey;
	margin-top:10px;
	font-size:9px;
	display:inline-block;
}
.topic-title-end{
	padding-top:10vh;
	font-family:Calibri;
	color:white;
	font-size:3vw;
}


@media only screen and (max-width: 1000px){
	.side{
		display:none;
	}
	.side2{
		display:none;
	}
	
	.borders{
	margin-top:0px;
	width:100%;
	margin-left:0px;
	margin-right:0px;
	}
}
